node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/html-report/
/results.xml
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.env.development
/.env.test
/.env.production
/.env.example
/.vscode-test/
/.vscode-test-playwright/
/.vscode-test-playwright-*
/.vscode-test-playwright-*
/.vscode-test-playwright-*/**/*
/.vscode-test-playwright-*/**/node_modules/             